<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>address</key>
		<string>233 Wells Road</string>
		<key>address1</key>
		<string>Dr Robertson</string>
		<key>address2</key>
		<string>Null</string>
		<key>address4</key>
		<string>Knowle </string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81125</string>
		<key>latitude</key>
		<string>51.438637</string>
		<key>locality</key>
		<string>S</string>
		<key>longitude</key>
		<string>-2.572722</string>
		<key>manager</key>
		<string>Pauline Guest</string>
		<key>managerMail</key>
		<string>Pauline.Guest@gp-L81125.nhs.uk</string>
		<key>name</key>
		<string>233 Wells Road Surgery</string>
		<key>partner</key>
		<string>Robertson</string>
		<key>phone</key>
		<string>(0117) 977 0018</string>
		<key>postcode</key>
		<string>BS4 2DF</string>
	</dict>
	<dict>
		<key>address</key>
		<string>58 Pembroke Rd</string>
		<key>address1</key>
		<string>58 Pembroke Rd</string>
		<key>address2</key>
		<string>Null</string>
		<key>address4</key>
		<string>Clifton</string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81656</string>
		<key>latitude</key>
		<string>51.460872</string>
		<key>locality</key>
		<string>NW&amp;W</string>
		<key>longitude</key>
		<string>-2.61565</string>
		<key>manager</key>
		<string>Heath Carrigan and Eloise Jelfs</string>
		<key>managerMail</key>
		<string>ejelfs@nhs.net; heather.carrigan@nhs.net</string>
		<key>name</key>
		<string>58 Pembroke Rd</string>
		<key>partner</key>
		<string>Ring</string>
		<key>phone</key>
		<string>(0117) 974 1452</string>
		<key>postcode</key>
		<string>BS8 3DT</string>
	</dict>
	<dict>
		<key>address</key>
		<string>Kenn Road</string>
		<key>address1</key>
		<string>Air Balloon Surgery</string>
		<key>address2</key>
		<string>Null</string>
		<key>address4</key>
		<string>St George</string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81038</string>
		<key>latitude</key>
		<string>51.459</string>
		<key>locality</key>
		<string>IC&amp;E</string>
		<key>longitude</key>
		<string>-2.531438</string>
		<key>manager</key>
		<string>Kate Francis</string>
		<key>managerMail</key>
		<string>kfrancis@gp-L81038.nhs.uk</string>
		<key>name</key>
		<string>Air Balloon Surgery</string>
		<key>partner</key>
		<string>McQuoney</string>
		<key>phone</key>
		<string>(0117) 909 9914</string>
		<key>postcode</key>
		<string>BS5 7PD</string>
	</dict>
	<dict>
		<key>address</key>
		<string>Armada Road</string>
		<key>address1</key>
		<string>Armada Practice</string>
		<key>address2</key>
		<string>Whitchurch Health Centre </string>
		<key>address4</key>
		<string>Whitchurch </string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81031</string>
		<key>latitude</key>
		<string>51.413447</string>
		<key>locality</key>
		<string>S</string>
		<key>longitude</key>
		<string>-2.571818</string>
		<key>manager</key>
		<string>Steve Davies</string>
		<key>managerMail</key>
		<string>Steve.Davies@gp-L81031.nhs.uk</string>
		<key>name</key>
		<string>Armada Practice (Whitchurch Health Centre)</string>
		<key>partner</key>
		<string>Crichton</string>
		<key>phone</key>
		<string>(01275) 839 421</string>
		<key>postcode</key>
		<string>BS14 0SU</string>
	</dict>
	<dict>
		<key>address</key>
		<string>Collins Street</string>
		<key>address1</key>
		<string>Avonmouth Medical Centre</string>
		<key>address2</key>
		<string>Null</string>
		<key>address4</key>
		<string>Avonmouth </string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81128</string>
		<key>latitude</key>
		<string>51.498515</string>
		<key>locality</key>
		<string>NW&amp;W</string>
		<key>longitude</key>
		<string>-2.69526</string>
		<key>manager</key>
		<string>Justine Mansfield</string>
		<key>managerMail</key>
		<string>Justine.Mansfield@gp-L81128.nhs.uk</string>
		<key>name</key>
		<string>Avonmouth Medical Centre</string>
		<key>partner</key>
		<string>Rogers</string>
		<key>phone</key>
		<string>(0117) 982 4322</string>
		<key>postcode</key>
		<string>BS11 9JJ</string>
	</dict>
	<dict>
		<key>address</key>
		<string>Regent Road</string>
		<key>address1</key>
		<string>Bedminster Family Practice</string>
		<key>address2</key>
		<string>Null</string>
		<key>address4</key>
		<string>Bedminster</string>
		<key>address5</key>
		<string>Bristol</string>
		<key>code</key>
		<string>L81082</string>
		<key>latitude</key>
		<string>51.444061</string>
		<key>locality</key>
		<string>S</string>
		<key>longitude</key>
		<string>-2.594042</string>
		<key>manager</key>
		<string>Chrystal Mogg</string>
		<key>managerMail</key>
		<string>Chrystal.Mogg@gp-L81082.nhs.uk</string>
		<key>name</key>
		<string>Bedminster Family Practice</string>
		<key>partner</key>
		<string>Rice</string>
		<key>phone</key>
		<string>(0117) 966 3149</string>
		<key>postcode</key>
		<string>BS3 4AT</string>
	</dict>
	<dict>
		<key>address</key>
		<string>Beechwood Road</string>
		<key>address1</key>
		<string>Beechwood Medical Centre</string>
		<key>address2</key>
		<string>Fishponds Primary Care Centre</string>
		<key>address4</key>
		<string>Fishponds</string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81087</string>
		<key>latitude</key>
		<string>51.479738</string>
		<key>locality</key>
		<string>IC&amp;E</string>
		<key>longitude</key>
		<string>-2.526682</string>
		<key>manager</key>
		<string>Rose Wyatt</string>
		<key>managerMail</key>
		<string>Rose.Wyatt@gp-L81087.nhs.uk</string>
		<key>name</key>
		<string>Beechwood Medical Centre</string>
		<key>partner</key>
		<string>Wallace</string>
		<key>phone</key>
		<string>(0117) 908 2360</string>
		<key>postcode</key>
		<string>BS16 3TD</string>
	</dict>
	<dict>
		<key>address</key>
		<string>Wick Road</string>
		<key>address1</key>
		<string>Birchwood Medical Centre</string>
		<key>address2</key>
		<string>Brooklea Health Centre </string>
		<key>address4</key>
		<string>Brislington </string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81120</string>
		<key>latitude</key>
		<string>51.44612</string>
		<key>locality</key>
		<string>S</string>
		<key>longitude</key>
		<string>-2.54798</string>
		<key>manager</key>
		<string>Sue Tiley</string>
		<key>managerMail</key>
		<string>Sue.Tiley@gp-L81120.nhs.uk</string>
		<key>name</key>
		<string>Birchwood Medical Centre</string>
		<key>partner</key>
		<string>Stephenson</string>
		<key>phone</key>
		<string>(0117) 330 4200</string>
		<key>postcode</key>
		<string>BS4 4HU</string>
	</dict>
	<dict>
		<key>address</key>
		<string>Ardenton Walk</string>
		<key>address1</key>
		<string>Bradgate Surgery</string>
		<key>address2</key>
		<string>Null</string>
		<key>address4</key>
		<string>Brentry</string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81037</string>
		<key>latitude</key>
		<string>51.510279</string>
		<key>locality</key>
		<string>NW&amp;W</string>
		<key>longitude</key>
		<string>-2.617714</string>
		<key>manager</key>
		<string>Sharron Norman</string>
		<key>managerMail</key>
		<string>Sharron.Norman@gp-L81037.nhs.uk</string>
		<key>name</key>
		<string>Bradgate Surgery</string>
		<key>partner</key>
		<string>N Taylor</string>
		<key>phone</key>
		<string>(0117) 959 1920</string>
		<key>postcode</key>
		<string>BS10 6SP</string>
	</dict>
	<dict>
		<key>address</key>
		<string>59 Broadmead</string>
		<key>address1</key>
		<string>Broadmead Medical Centre</string>
		<key>address2</key>
		<string>59 Broadmead</string>
		<key>address4</key>
		<string></string>
		<key>address5</key>
		<string>Bristol</string>
		<key>code</key>
		<string>Y02578</string>
		<key>latitude</key>
		<string>51.457392</string>
		<key>locality</key>
		<string>IC&amp;E</string>
		<key>longitude</key>
		<string>-2.58948</string>
		<key>manager</key>
		<string>Dixine Douis</string>
		<key>managerMail</key>
		<string>dixine.douis@brisdoc.org</string>
		<key>name</key>
		<string>Broadmead Medical Centre</string>
		<key>partner</key>
		<string>Dr C Maytum (lead GP)</string>
		<key>phone</key>
		<string>(0117) 954 9828</string>
		<key>postcode</key>
		<string>BS1 3EA</string>
	</dict>
	<dict>
		<key>address</key>
		<string>52 Clifton Down Road</string>
		<key>address1</key>
		<string>Clifton Village Practice</string>
		<key>address2</key>
		<string>Null</string>
		<key>address4</key>
		<string>Clifton</string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81633</string>
		<key>latitude</key>
		<string>51.457128</string>
		<key>locality</key>
		<string>NW&amp;W</string>
		<key>longitude</key>
		<string>-2.619687</string>
		<key>manager</key>
		<string>Juliet Bodman</string>
		<key>managerMail</key>
		<string>Juliet.Bodman@gp-L81633.nhs.uk</string>
		<key>name</key>
		<string>Clifton Village Practice</string>
		<key>partner</key>
		<string>Frewin</string>
		<key>phone</key>
		<string>(0117) 973 2178</string>
		<key>postcode</key>
		<string>BS8 4AH</string>
	</dict>
	<dict>
		<key>address</key>
		<string>Knowle West Health Park</string>
		<key>address1</key>
		<string>Crest Family Practice</string>
		<key>address2</key>
		<string>William Budd Health Centre</string>
		<key>address4</key>
		<string>Knowle</string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81095</string>
		<key>latitude</key>
		<string>51.428755</string>
		<key>locality</key>
		<string>S</string>
		<key>longitude</key>
		<string>-2.59626</string>
		<key>manager</key>
		<string>Mary Stork</string>
		<key>managerMail</key>
		<string>Mary.Stork@gp-L81095.nhs.uk</string>
		<key>name</key>
		<string>Crest Family Practice</string>
		<key>partner</key>
		<string>Dr M Owen &amp; Partners</string>
		<key>phone</key>
		<string>(0117) 944 9700</string>
		<key>postcode</key>
		<string>BS4 1WH</string>
	</dict>
	<dict>
		<key>address</key>
		<string>Seymour Road</string>
		<key>address1</key>
		<string>Easton Family Practice</string>
		<key>address2</key>
		<string>Charlotte Keel Health Centre</string>
		<key>address4</key>
		<string>Easton</string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81092</string>
		<key>latitude</key>
		<string>51.465599</string>
		<key>locality</key>
		<string>IC&amp;E</string>
		<key>longitude</key>
		<string>-2.571721</string>
		<key>manager</key>
		<string>Geraldine Twinney</string>
		<key>managerMail</key>
		<string>Geraldine.Twinney@gp-L81092.nhs.uk</string>
		<key>name</key>
		<string>Easton Family Practice</string>
		<key>partner</key>
		<string>Godfrey</string>
		<key>phone</key>
		<string>(0117) 902 7138</string>
		<key>postcode</key>
		<string>BS5 0UA</string>
	</dict>
	<dict>
		<key>address</key>
		<string>East Park</string>
		<key>address1</key>
		<string>Eastville Health Centre</string>
		<key>address2</key>
		<string>Eastville Health Centre</string>
		<key>address4</key>
		<string>Eastville</string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81023</string>
		<key>latitude</key>
		<string>51.470311</string>
		<key>locality</key>
		<string>IC&amp;E</string>
		<key>longitude</key>
		<string>-2.560478</string>
		<key>manager</key>
		<string>Angela Toumi</string>
		<key>managerMail</key>
		<string>Angela.Toumi@gp-L81023.nhs.uk</string>
		<key>name</key>
		<string>Eastville Medical Practice</string>
		<key>partner</key>
		<string>Parrott</string>
		<key>phone</key>
		<string>(0117) 902 6752</string>
		<key>postcode</key>
		<string>BS5 6YA</string>
	</dict>
	<dict>
		<key>address</key>
		<string>13 Fallodon Way</string>
		<key>address1</key>
		<string>Fallodon Way Medical Centre</string>
		<key>address2</key>
		<string>Null</string>
		<key>address4</key>
		<string>Henleaze</string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81131</string>
		<key>latitude</key>
		<string>51.483051</string>
		<key>locality</key>
		<string>NW&amp;W</string>
		<key>longitude</key>
		<string>-2.609382</string>
		<key>manager</key>
		<string>Cath Sage</string>
		<key>managerMail</key>
		<string>Cath.Sage@gp-L81131.nhs.uk</string>
		<key>name</key>
		<string>Fallodon Way Medical Centre</string>
		<key>partner</key>
		<string>Farnall</string>
		<key>phone</key>
		<string>(0117) 962 0652</string>
		<key>postcode</key>
		<string>BS9 4HT</string>
	</dict>
	<dict>
		<key>address</key>
		<string>Cotham Road</string>
		<key>address1</key>
		<string>Family Practice</string>
		<key>address2</key>
		<string>Western College</string>
		<key>address4</key>
		<string>Cotham </string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81090</string>
		<key>latitude</key>
		<string>51.462707</string>
		<key>locality</key>
		<string>NW&amp;W</string>
		<key>longitude</key>
		<string>-2.603367</string>
		<key>manager</key>
		<string>Keith Minty</string>
		<key>managerMail</key>
		<string>Keith.Minty@gp-L81090.nhs.uk</string>
		<key>name</key>
		<string>Family Practice</string>
		<key>partner</key>
		<string>Kalfayan</string>
		<key>phone</key>
		<string>(0117) 946 6455</string>
		<key>postcode</key>
		<string>BS6 6DF</string>
	</dict>
	<dict>
		<key>address</key>
		<string>Beechwood Road</string>
		<key>address1</key>
		<string>Fishponds Family Practice</string>
		<key>address2</key>
		<string>Fishponds Primary Care Centre</string>
		<key>address4</key>
		<string>Fishponds</string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81013</string>
		<key>latitude</key>
		<string>51.479738</string>
		<key>locality</key>
		<string>IC&amp;E</string>
		<key>longitude</key>
		<string>-2.526682</string>
		<key>manager</key>
		<string>Paul Williams</string>
		<key>managerMail</key>
		<string>Paul.Williams@gp-L81013.nhs.uk</string>
		<key>name</key>
		<string>Fishponds Family Practice</string>
		<key>partner</key>
		<string>Anstey</string>
		<key>phone</key>
		<string>(0117) 908 2365</string>
		<key>postcode</key>
		<string>BS16 3TD</string>
	</dict>
	<dict>
		<key>address</key>
		<string>North St</string>
		<key>address1</key>
		<string>Gaywood House</string>
		<key>address2</key>
		<string>Null</string>
		<key>address4</key>
		<string>Bedminster</string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81057</string>
		<key>latitude</key>
		<string>51.439873</string>
		<key>locality</key>
		<string>S</string>
		<key>longitude</key>
		<string>-2.605973</string>
		<key>manager</key>
		<string>Philip Harris</string>
		<key>managerMail</key>
		<string>Philip.Harris@gp-L81057.nhs.uk</string>
		<key>name</key>
		<string>Gaywood House</string>
		<key>partner</key>
		<string>Kessler</string>
		<key>phone</key>
		<string>(0117) 966 1412</string>
		<key>postcode</key>
		<string>BS3 3AZ</string>
	</dict>
	<dict>
		<key>address</key>
		<string>1a Church Road</string>
		<key>address1</key>
		<string>Gloucester Road Medical Centre</string>
		<key>address2</key>
		<string>Tramway House</string>
		<key>address4</key>
		<string>Horfield</string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81078</string>
		<key>latitude</key>
		<string>51.48496</string>
		<key>locality</key>
		<string>NW&amp;W</string>
		<key>longitude</key>
		<string>-2.587704</string>
		<key>manager</key>
		<string>Judy Holbrook</string>
		<key>managerMail</key>
		<string>Judy.Holbrook@gp-L81078.nhs.uk</string>
		<key>name</key>
		<string>Gloucester Road Medical Centre</string>
		<key>partner</key>
		<string>Lavin</string>
		<key>phone</key>
		<string>(0117) 949 7774</string>
		<key>postcode</key>
		<string>BS7 8SA</string>
	</dict>
	<dict>
		<key>address</key>
		<string>Downton Road</string>
		<key>address1</key>
		<string>South Bristol Walk-in Centre</string>
		<key>address2</key>
		<string>5 Knowle West Health Park </string>
		<key>address4</key>
		<string>Knowle</string>
		<key>address5</key>
		<string>Bristol</string>
		<key>code</key>
		<string>Y02579</string>
		<key>latitude</key>
		<string>51.428755</string>
		<key>locality</key>
		<string>S</string>
		<key>longitude</key>
		<string>-2.59626</string>
		<key>manager</key>
		<string>Dixine Douis</string>
		<key>managerMail</key>
		<string>dixine.douis@brisdoc.org</string>
		<key>name</key>
		<string>GP Walk-in Health Centre Service</string>
		<key>partner</key>
		<string>Ray Montague (Clinical Lead)</string>
		<key>phone</key>
		<string>(0117) 903 0018</string>
		<key>postcode</key>
		<string>BS4 1WH</string>
	</dict>
	<dict>
		<key>address</key>
		<string>Grange Rd</string>
		<key>address1</key>
		<string>Grange Road Surgery</string>
		<key>address2</key>
		<string>Null</string>
		<key>address4</key>
		<string>Bishopsworth</string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81054</string>
		<key>latitude</key>
		<string>51.413052</string>
		<key>locality</key>
		<string>S</string>
		<key>longitude</key>
		<string>-2.61945</string>
		<key>manager</key>
		<string>Derek Jones</string>
		<key>managerMail</key>
		<string>Derek.Jones@gp-L81054.nhs.uk</string>
		<key>name</key>
		<string>Grange Road Surgery</string>
		<key>partner</key>
		<string>Elstow</string>
		<key>phone</key>
		<string>(0117) 964 4343</string>
		<key>postcode</key>
		<string>BS13 8LD</string>
	</dict>
	<dict>
		<key>address</key>
		<string>Greystoke Avenue</string>
		<key>address1</key>
		<string>Greenway Community Practice</string>
		<key>address2</key>
		<string>Null</string>
		<key>address4</key>
		<string>Southmead</string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81098</string>
		<key>latitude</key>
		<string>51.499558</string>
		<key>locality</key>
		<string>NW&amp;W</string>
		<key>longitude</key>
		<string>-2.61136</string>
		<key>manager</key>
		<string>Rose Moore</string>
		<key>managerMail</key>
		<string>Rose.Moore@gp-L81098.nhs.uk</string>
		<key>name</key>
		<string>Greenway Community Practice</string>
		<key>partner</key>
		<string>Hoffman</string>
		<key>phone</key>
		<string>(0117) 959 8939</string>
		<key>postcode</key>
		<string>BS10 6AF</string>
	</dict>
	<dict>
		<key>address</key>
		<string>Hareclive Road</string>
		<key>address1</key>
		<string>Hartwood Health Centre</string>
		<key>address2</key>
		<string>Hartcliffe Health Centre</string>
		<key>address4</key>
		<string>Hartcliffe</string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81083</string>
		<key>latitude</key>
		<string>51.407625</string>
		<key>locality</key>
		<string>S</string>
		<key>longitude</key>
		<string>-2.601334</string>
		<key>manager</key>
		<string>Linda Brown</string>
		<key>managerMail</key>
		<string>Linda.Brown@gp-L81083.nhs.uk</string>
		<key>name</key>
		<string>Hartwood Health Centre</string>
		<key>partner</key>
		<string>Stubbs</string>
		<key>phone</key>
		<string>(0117) 301 5227</string>
		<key>postcode</key>
		<string>BS13 0JP</string>
	</dict>
	<dict>
		<key>address</key>
		<string>17 Stoke Hill</string>
		<key>address1</key>
		<string>Helios Medical Centre</string>
		<key>address2</key>
		<string>Null</string>
		<key>address4</key>
		<string>Stoke Bishop</string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81622</string>
		<key>latitude</key>
		<string>51.475527</string>
		<key>locality</key>
		<string>NW&amp;W</string>
		<key>longitude</key>
		<string>-2.631024</string>
		<key>manager</key>
		<string>Catherine Ward</string>
		<key>managerMail</key>
		<string>Catherine.Ward@gp-L81622.nhs.uk</string>
		<key>name</key>
		<string>Helios Medical Centre</string>
		<key>partner</key>
		<string>Mulder</string>
		<key>phone</key>
		<string>(0117) 962 6060</string>
		<key>postcode</key>
		<string>BS9 1JN</string>
	</dict>
	<dict>
		<key>address</key>
		<string>Hareclive Road</string>
		<key>address1</key>
		<string>Hillview Practice</string>
		<key>address2</key>
		<string>Hartcliffe Health Centre</string>
		<key>address4</key>
		<string>Hartcliffe</string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81041</string>
		<key>latitude</key>
		<string>51.407625</string>
		<key>locality</key>
		<string>S</string>
		<key>longitude</key>
		<string>-2.601334</string>
		<key>manager</key>
		<string>Paul Mugford</string>
		<key>managerMail</key>
		<string>Paul.Mugford@gp-L81041.nhs.uk</string>
		<key>name</key>
		<string>Hillview Practice</string>
		<key>partner</key>
		<string>Mitchell</string>
		<key>phone</key>
		<string>(0117) 301 5240</string>
		<key>postcode</key>
		<string>BS13 0JP</string>
	</dict>
	<dict>
		<key>address</key>
		<string>Lockleaze Road</string>
		<key>address1</key>
		<string>Horfield Health Centre</string>
		<key>address2</key>
		<string>Null</string>
		<key>address4</key>
		<string>Horfield</string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81022</string>
		<key>latitude</key>
		<string>51.489998</string>
		<key>locality</key>
		<string>NW&amp;W</string>
		<key>longitude</key>
		<string>-2.576275</string>
		<key>manager</key>
		<string>Carolyn Plows</string>
		<key>managerMail</key>
		<string>Carolyn.Plows@gp-L81022.nhs.uk</string>
		<key>name</key>
		<string>Horfield Health Centre</string>
		<key>partner</key>
		<string>Kemple</string>
		<key>phone</key>
		<string>(0117) 969 5391</string>
		<key>postcode</key>
		<string>BS7 9RR</string>
	</dict>
	<dict>
		<key>address</key>
		<string>Hassell Drive</string>
		<key>address1</key>
		<string>Lawrence Hill Health Centre</string>
		<key>address2</key>
		<string>Null</string>
		<key>address4</key>
		<string>Lawrence Hill</string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81089</string>
		<key>latitude</key>
		<string>51.457547</string>
		<key>locality</key>
		<string>IC&amp;E</string>
		<key>longitude</key>
		<string>-2.572686</string>
		<key>manager</key>
		<string>Ewan Cameron</string>
		<key>managerMail</key>
		<string>Ewan.Cameron@gp-L81089.nhs.uk</string>
		<key>name</key>
		<string>Lawrence Hill Health Centre</string>
		<key>partner</key>
		<string>Walsh</string>
		<key>phone</key>
		<string>(0117) 954 3060</string>
		<key>postcode</key>
		<string>BS2 0AN</string>
	</dict>
	<dict>
		<key>address</key>
		<string>1 Lewis Road</string>
		<key>address1</key>
		<string>Lennard Surgery</string>
		<key>address2</key>
		<string>Null</string>
		<key>address4</key>
		<string>Bedminster Down</string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81053</string>
		<key>latitude</key>
		<string>51.425872</string>
		<key>locality</key>
		<string>S</string>
		<key>longitude</key>
		<string>-2.613094</string>
		<key>manager</key>
		<string>Steve Mowatt</string>
		<key>managerMail</key>
		<string>Steven.Mowatt@gp-L81053.nhs.uk</string>
		<key>name</key>
		<string>Lennard Surgery</string>
		<key>partner</key>
		<string>Welsh</string>
		<key>phone</key>
		<string>(0117) 964 0900</string>
		<key>postcode</key>
		<string>BS13 7JD</string>
	</dict>
	<dict>
		<key>address</key>
		<string>22 Lodgeside Avenue</string>
		<key>address1</key>
		<string>Lodgeside Surgery</string>
		<key>address2</key>
		<string>Null</string>
		<key>address4</key>
		<string>Kingswood</string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81088</string>
		<key>latitude</key>
		<string>51.46819</string>
		<key>locality</key>
		<string>IC&amp;E</string>
		<key>longitude</key>
		<string>-2.517292</string>
		<key>manager</key>
		<string>Kathryn Thompson</string>
		<key>managerMail</key>
		<string>Kathryn.Thompson@gp-L81088.nhs.uk</string>
		<key>name</key>
		<string>Lodgeside Surgery</string>
		<key>partner</key>
		<string>Rawlinson</string>
		<key>phone</key>
		<string>(0117) 961 5666</string>
		<key>postcode</key>
		<string>BS15 1WW</string>
	</dict>
	<dict>
		<key>address</key>
		<string>40 St Johns Road </string>
		<key>address1</key>
		<string>Malago Surgery</string>
		<key>address2</key>
		<string>Null</string>
		<key>address4</key>
		<string>Bedminster</string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81035</string>
		<key>latitude</key>
		<string>51.439796</string>
		<key>locality</key>
		<string>S</string>
		<key>longitude</key>
		<string>-2.599857</string>
		<key>manager</key>
		<string>John Gibson</string>
		<key>managerMail</key>
		<string>John.Gibson@gp-L81035.nhs.uk</string>
		<key>name</key>
		<string>Malago Surgery</string>
		<key>partner</key>
		<string>Smyth</string>
		<key>phone</key>
		<string>(0117) 966 5238</string>
		<key>postcode</key>
		<string>BS3 4JE</string>
	</dict>
	<dict>
		<key>address</key>
		<string>East Park</string>
		<key>address1</key>
		<string>Maytrees Practice</string>
		<key>address2</key>
		<string>Eastville Health Centre</string>
		<key>address4</key>
		<string>Eastville</string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81648</string>
		<key>latitude</key>
		<string>51.470311</string>
		<key>locality</key>
		<string>IC&amp;E</string>
		<key>longitude</key>
		<string>-2.560478</string>
		<key>manager</key>
		<string>Steve Hartnell</string>
		<key>managerMail</key>
		<string>Steve.Hartnell@gp-L81648.nhs.uk</string>
		<key>name</key>
		<string>Maytrees Practice</string>
		<key>partner</key>
		<string>Harrison</string>
		<key>phone</key>
		<string>(0117) 951 0042</string>
		<key>postcode</key>
		<string>BS5 6YA</string>
	</dict>
	<dict>
		<key>address</key>
		<string>Knowle West Health Park</string>
		<key>address1</key>
		<string>Merrywood Practice</string>
		<key>address2</key>
		<string>William Budd Health Centre</string>
		<key>address4</key>
		<string>Knowle</string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81094</string>
		<key>latitude</key>
		<string>51.428755</string>
		<key>locality</key>
		<string>S</string>
		<key>longitude</key>
		<string>-2.59626</string>
		<key>manager</key>
		<string>Vicki Staatz</string>
		<key>managerMail</key>
		<string>Vicki.Staatz@gp-L81094.nhs.uk</string>
		<key>name</key>
		<string>Merrywood Practice</string>
		<key>partner</key>
		<string>Dean</string>
		<key>phone</key>
		<string>(0117) 944 9750</string>
		<key>postcode</key>
		<string>BS4 1WH</string>
	</dict>
	<dict>
		<key>address</key>
		<string>24 Monks Park Avenue</string>
		<key>address1</key>
		<string>Monks Park Surgery</string>
		<key>address2</key>
		<string>Null</string>
		<key>address4</key>
		<string>Horfield </string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81669</string>
		<key>latitude</key>
		<string>51.497581</string>
		<key>locality</key>
		<string>NW&amp;W</string>
		<key>longitude</key>
		<string>-2.582825</string>
		<key>manager</key>
		<string>David Fulker</string>
		<key>managerMail</key>
		<string>David.Fulker@gp-L81669.nhs.uk</string>
		<key>name</key>
		<string>Monks Park Surgery</string>
		<key>partner</key>
		<string>Langton</string>
		<key>phone</key>
		<string>(0117) 969 3106</string>
		<key>postcode</key>
		<string>BS7 0UE</string>
	</dict>
	<dict>
		<key>address</key>
		<string>Bath Buildings</string>
		<key>address1</key>
		<string>Montpelier Health Centre</string>
		<key>address2</key>
		<string>Null</string>
		<key>address4</key>
		<string>Montpelier</string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81012</string>
		<key>latitude</key>
		<string>51.466527</string>
		<key>locality</key>
		<string>IC&amp;E</string>
		<key>longitude</key>
		<string>-2.589454</string>
		<key>manager</key>
		<string>Cherie Mahoney</string>
		<key>managerMail</key>
		<string>Cherie.Mahoney@gp-L81012.nhs.uk</string>
		<key>name</key>
		<string>Montpelier Health Centre</string>
		<key>partner</key>
		<string>Cembrowvicz</string>
		<key>phone</key>
		<string>(0117) 942 6811</string>
		<key>postcode</key>
		<string>BS6 5PT </string>
	</dict>
	<dict>
		<key>address</key>
		<string>43 Nevil Road</string>
		<key>address1</key>
		<string>Nevil Road Surgery</string>
		<key>address2</key>
		<string>Null</string>
		<key>address4</key>
		<string>Bishopston</string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81107</string>
		<key>latitude</key>
		<string>51.478991</string>
		<key>locality</key>
		<string>NW&amp;W</string>
		<key>longitude</key>
		<string>-2.587426</string>
		<key>manager</key>
		<string>Jane Bosdet</string>
		<key>managerMail</key>
		<string>Jane.Bosdet@gp-L81107.nhs.uk</string>
		<key>name</key>
		<string>Nevil Road Surgery</string>
		<key>partner</key>
		<string>M Archer</string>
		<key>phone</key>
		<string>(0117) 924 5630</string>
		<key>postcode</key>
		<string>BS7 9EG</string>
	</dict>
	<dict>
		<key>address</key>
		<string>Wick Road</string>
		<key>address1</key>
		<string>Nightingale Valley Practice</string>
		<key>address2</key>
		<string>Brooklea Health Centre </string>
		<key>address4</key>
		<string>Brislington </string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81033</string>
		<key>latitude</key>
		<string>51.44612</string>
		<key>locality</key>
		<string>S</string>
		<key>longitude</key>
		<string>-2.54798</string>
		<key>manager</key>
		<string>Di Pullin</string>
		<key>managerMail</key>
		<string>Di.Pullin@gp-L81033.nhs.uk</string>
		<key>name</key>
		<string>Nightingale Valley Practice</string>
		<key>partner</key>
		<string>Ree</string>
		<key>phone</key>
		<string>(0117) 330 4300</string>
		<key>postcode</key>
		<string>BS4 4HU</string>
	</dict>
	<dict>
		<key>address</key>
		<string>Manor Road</string>
		<key>address1</key>
		<string>Old School Surgery</string>
		<key>address2</key>
		<string>Null</string>
		<key>address4</key>
		<string>Fishponds</string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81075</string>
		<key>latitude</key>
		<string>51.481905</string>
		<key>locality</key>
		<string>IC&amp;E</string>
		<key>longitude</key>
		<string>-2.528709</string>
		<key>manager</key>
		<string>Jeremy Lyons</string>
		<key>managerMail</key>
		<string>Jeremy.Lyons@gp-L81075.nhs.uk</string>
		<key>name</key>
		<string>Old School Surgery</string>
		<key>partner</key>
		<string>Hepburn</string>
		<key>phone</key>
		<string>(0117) 958 5155</string>
		<key>postcode</key>
		<string>BS16 2JD</string>
	</dict>
	<dict>
		<key>address</key>
		<string>111 Pembroke Rd</string>
		<key>address1</key>
		<string>Pembroke Rd Surgery</string>
		<key>address2</key>
		<string>Null</string>
		<key>address4</key>
		<string>Clifton</string>
		<key>address5</key>
		<string>Bristol</string>
		<key>code</key>
		<string>L81081</string>
		<key>latitude</key>
		<string>51.464336</string>
		<key>locality</key>
		<string>NW&amp;W</string>
		<key>longitude</key>
		<string>-2.618518</string>
		<key>manager</key>
		<string>Heather Carrigan</string>
		<key>managerMail</key>
		<string>Heather.Carrigan@gp-L81081.nhs.uk</string>
		<key>name</key>
		<string>Pembroke Rd Surgery</string>
		<key>partner</key>
		<string>Rossdale</string>
		<key>phone</key>
		<string>(0117) 973 3790</string>
		<key>postcode</key>
		<string>BS8 3EU</string>
	</dict>
	<dict>
		<key>address</key>
		<string>326 Wells Road</string>
		<key>address1</key>
		<string>Priory Surgery</string>
		<key>address2</key>
		<string>Null</string>
		<key>address4</key>
		<string>Knowle </string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81084</string>
		<key>latitude</key>
		<string>51.434219</string>
		<key>locality</key>
		<string>S</string>
		<key>longitude</key>
		<string>-2.566006</string>
		<key>manager</key>
		<string>Debbie Penney</string>
		<key>managerMail</key>
		<string>Debra.Penney@gp-L81084.nhs.uk</string>
		<key>name</key>
		<string>Priory Surgery</string>
		<key>partner</key>
		<string>Reading</string>
		<key>phone</key>
		<string>(0117) 949 3988</string>
		<key>postcode</key>
		<string>BS4 2QJ</string>
	</dict>
	<dict>
		<key>address</key>
		<string>Ridingleaze</string>
		<key>address1</key>
		<string>Ridingleaze Medical Centre</string>
		<key>address2</key>
		<string>Null</string>
		<key>address4</key>
		<string>Lawrence Weston</string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81099</string>
		<key>latitude</key>
		<string>51.501361</string>
		<key>locality</key>
		<string>NW&amp;W</string>
		<key>longitude</key>
		<string>-2.658652</string>
		<key>manager</key>
		<string>Richard Laver</string>
		<key>managerMail</key>
		<string>Richard.Laver@gp-L81099.nhs.uk</string>
		<key>name</key>
		<string>Ridingleaze Medical Centre</string>
		<key>partner</key>
		<string>Tarleton</string>
		<key>phone</key>
		<string>(0117) 982 2693</string>
		<key>postcode</key>
		<string>BS11 0QE</string>
	</dict>
	<dict>
		<key>address</key>
		<string>2 Riverleaze</string>
		<key>address1</key>
		<string>Sea Mills Surgery</string>
		<key>address2</key>
		<string>Null</string>
		<key>address4</key>
		<string>Sea Mills</string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81077</string>
		<key>latitude</key>
		<string>51.484586</string>
		<key>locality</key>
		<string>NW&amp;W</string>
		<key>longitude</key>
		<string>-2.649928</string>
		<key>manager</key>
		<string>Anne Peacock</string>
		<key>managerMail</key>
		<string>Anne.Peacock@gp-L81077.nhs.uk</string>
		<key>name</key>
		<string>Sea Mills Surgery</string>
		<key>partner</key>
		<string>Silvey</string>
		<key>phone</key>
		<string>(0117) 968 1182</string>
		<key>postcode</key>
		<string>BS9 2HL</string>
	</dict>
	<dict>
		<key>address</key>
		<string>Seymour Road</string>
		<key>address1</key>
		<string>Seymour Medical Practice</string>
		<key>address2</key>
		<string>Charlotte Keel Health Centre</string>
		<key>address4</key>
		<string>Easton</string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81015</string>
		<key>latitude</key>
		<string>51.465599</string>
		<key>locality</key>
		<string>IC&amp;E</string>
		<key>longitude</key>
		<string>-2.571721</string>
		<key>manager</key>
		<string>Sam Walpole</string>
		<key>managerMail</key>
		<string>Sam.Walpole@gp-L81015.nhs.uk</string>
		<key>name</key>
		<string>Seymour Medical Practice</string>
		<key>partner</key>
		<string>Price</string>
		<key>phone</key>
		<string>(0117) 902 7145</string>
		<key>postcode</key>
		<string>BS5 0UA</string>
	</dict>
	<dict>
		<key>address</key>
		<string>Pembroke Road</string>
		<key>address1</key>
		<string>Shirehampton Health Centre</string>
		<key>address2</key>
		<string>Null</string>
		<key>address4</key>
		<string>Shirehampton</string>
		<key>address5</key>
		<string>Bristol</string>
		<key>code</key>
		<string>L81008</string>
		<key>latitude</key>
		<string>51.489137</string>
		<key>locality</key>
		<string>NW&amp;W</string>
		<key>longitude</key>
		<string>-2.676768</string>
		<key>manager</key>
		<string>Jude Ward</string>
		<key>managerMail</key>
		<string>Jude.Ward@gp-L81008.nhs.uk</string>
		<key>name</key>
		<string>Shirehampton Group Practice </string>
		<key>partner</key>
		<string>P Archer (was R Taylor)</string>
		<key>phone</key>
		<string>(0117) 916 2200</string>
		<key>postcode</key>
		<string>BS11 9SB</string>
	</dict>
	<dict>
		<key>address</key>
		<string>8 Rockleaze Avenue</string>
		<key>address1</key>
		<string>Sneyd Park Surgery</string>
		<key>address2</key>
		<string>Null</string>
		<key>address4</key>
		<string>Sneyd Park</string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81663</string>
		<key>latitude</key>
		<string>51.472837</string>
		<key>locality</key>
		<string>NW&amp;W</string>
		<key>longitude</key>
		<string>-2.629619</string>
		<key>manager</key>
		<string>Rosie Murton</string>
		<key>managerMail</key>
		<string>Rosie.Murton@gp-L81663.nhs.uk</string>
		<key>name</key>
		<string>Sneyd Park Surgery</string>
		<key>partner</key>
		<string>Sharples</string>
		<key>phone</key>
		<string>(0117) 968 3284</string>
		<key>postcode</key>
		<string>BS9 1NG</string>
	</dict>
	<dict>
		<key>address</key>
		<string>Ullswater Road</string>
		<key>address1</key>
		<string>Southmead &amp; Henbury Family Practice</string>
		<key>address2</key>
		<string>Null</string>
		<key>address4</key>
		<string>Southmead </string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81067</string>
		<key>latitude</key>
		<string>51.50477</string>
		<key>locality</key>
		<string>NW&amp;W</string>
		<key>longitude</key>
		<string>-2.601618</string>
		<key>manager</key>
		<string>Richard Stroud</string>
		<key>managerMail</key>
		<string>Richard.Stroud@gp-L81067.nhs.uk</string>
		<key>name</key>
		<string>Southmead &amp; Henbury Family Practice</string>
		<key>partner</key>
		<string>Kershaw</string>
		<key>phone</key>
		<string>(0117) 950 7150</string>
		<key>postcode</key>
		<string>BS10 6DF</string>
	</dict>
	<dict>
		<key>address</key>
		<string>67 Coronation Road </string>
		<key>address1</key>
		<string>Southville Surgery</string>
		<key>address2</key>
		<string>Null</string>
		<key>address4</key>
		<string>Southville</string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81007</string>
		<key>latitude</key>
		<string>51.445582</string>
		<key>locality</key>
		<string>S</string>
		<key>longitude</key>
		<string>-2.600911</string>
		<key>manager</key>
		<string>Andrew Bale</string>
		<key>managerMail</key>
		<string>Andrew.Bale@gp-L81007.nhs.uk</string>
		<key>name</key>
		<string>Southville Surgery</string>
		<key>partner</key>
		<string>Semugoma</string>
		<key>phone</key>
		<string>(0117) 966 9724</string>
		<key>postcode</key>
		<string>BS3 1AT</string>
	</dict>
	<dict>
		<key>address</key>
		<string>48-50 Logan Road</string>
		<key>address1</key>
		<string>Spence Practice</string>
		<key>address2</key>
		<string>Null</string>
		<key>address4</key>
		<string>Bishopston</string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81112</string>
		<key>latitude</key>
		<string>51.475447</string>
		<key>locality</key>
		<string>NW&amp;W</string>
		<key>longitude</key>
		<string>-2.598381</string>
		<key>manager</key>
		<string>Mark Allen Judith Woodbridge</string>
		<key>managerMail</key>
		<string>Mark.Allen@gp-L81112.nhs.uk  Judith.Woodbridge@gp-L81112.nhs.uk</string>
		<key>name</key>
		<string>Spence Practice</string>
		<key>partner</key>
		<string>Spence</string>
		<key>phone</key>
		<string>(0117) 944 0700</string>
		<key>postcode</key>
		<string>BS7 8DR</string>
	</dict>
	<dict>
		<key>address</key>
		<string>Bellevue Road</string>
		<key>address1</key>
		<string>St George Health Centre</string>
		<key>address2</key>
		<string>Null</string>
		<key>address4</key>
		<string>St George</string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81062</string>
		<key>latitude</key>
		<string>51.460532</string>
		<key>locality</key>
		<string>IC&amp;E</string>
		<key>longitude</key>
		<string>-2.528692</string>
		<key>manager</key>
		<string>Susan Fowler</string>
		<key>managerMail</key>
		<string>Susan.Fowler@gp-L81062.nhs.uk</string>
		<key>name</key>
		<string>St George Health Centre</string>
		<key>partner</key>
		<string>Boone</string>
		<key>phone</key>
		<string>(0117) 961 2161</string>
		<key>postcode</key>
		<string>BS5 7PH</string>
	</dict>
	<dict>
		<key>address</key>
		<string>378 Wells Road</string>
		<key>address1</key>
		<string>St Martin's Surgery</string>
		<key>address2</key>
		<string>Null</string>
		<key>address4</key>
		<string>Knowle </string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81093</string>
		<key>latitude</key>
		<string>51.43134</string>
		<key>locality</key>
		<string>S</string>
		<key>longitude</key>
		<string>-2.564475</string>
		<key>manager</key>
		<string>Ruth Cooper</string>
		<key>managerMail</key>
		<string>Ruth.Cooper@gp-L81093.nhs.uk</string>
		<key>name</key>
		<string>St Martin's Surgery</string>
		<key>partner</key>
		<string>Barwell</string>
		<key>phone</key>
		<string>(0117) 977 5641</string>
		<key>postcode</key>
		<string>BS4 2QR</string>
	</dict>
	<dict>
		<key>address</key>
		<string>Hollway Road </string>
		<key>address1</key>
		<string>Stockwood Medical Centre</string>
		<key>address2</key>
		<string>Null</string>
		<key>address4</key>
		<string>Stockwood</string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81009</string>
		<key>latitude</key>
		<string>51.411565</string>
		<key>locality</key>
		<string>S</string>
		<key>longitude</key>
		<string>-2.544144</string>
		<key>manager</key>
		<string>Vicky Elliott</string>
		<key>managerMail</key>
		<string>Vicky.Elliott@gp-L81009.nhs.uk</string>
		<key>name</key>
		<string>Stockwood Medical Centre</string>
		<key>partner</key>
		<string>Norfolk</string>
		<key>phone</key>
		<string>(01275) 833 103</string>
		<key>postcode</key>
		<string>BS14 8PT</string>
	</dict>
	<dict>
		<key>address</key>
		<string>St Michael's Hill </string>
		<key>address1</key>
		<string>Students' Health Service</string>
		<key>address2</key>
		<string>Hampton House Health Centre </string>
		<key>address4</key>
		<string>Cotham </string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81133</string>
		<key>latitude</key>
		<string>51.46212</string>
		<key>locality</key>
		<string>NW&amp;W</string>
		<key>longitude</key>
		<string>-2.603777</string>
		<key>manager</key>
		<string>Louise Jones</string>
		<key>managerMail</key>
		<string>Louise.Jones@gp-L81133.nhs.uk</string>
		<key>name</key>
		<string>Students' Health Service</string>
		<key>partner</key>
		<string>Butler</string>
		<key>phone</key>
		<string>(0117) 330 2720</string>
		<key>postcode</key>
		<string>BS6 6AU</string>
	</dict>
	<dict>
		<key>address</key>
		<string>63 Sussex Place</string>
		<key>address1</key>
		<string>Sussex Place Surgery</string>
		<key>address2</key>
		<string>Null</string>
		<key>address4</key>
		<string></string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81658</string>
		<key>latitude</key>
		<string>51.468176</string>
		<key>locality</key>
		<string>IC&amp;E</string>
		<key>longitude</key>
		<string>-2.579858</string>
		<key>manager</key>
		<string>Caroline Robinson</string>
		<key>managerMail</key>
		<string>Caroline.Robinson@gp-L81658.nhs.uk</string>
		<key>name</key>
		<string>Sussex Place Surgery</string>
		<key>partner</key>
		<string>Thompson</string>
		<key>phone</key>
		<string>(0117) 955 6275</string>
		<key>postcode</key>
		<string>BS2 9QR</string>
	</dict>
	<dict>
		<key>address</key>
		<string>St Johns Lane</string>
		<key>address1</key>
		<string>Wedmore Practice</string>
		<key>address2</key>
		<string>St Johns Lane Health Centre</string>
		<key>address4</key>
		<string>Bedminster</string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81032</string>
		<key>latitude</key>
		<string>51.436248</string>
		<key>locality</key>
		<string>S</string>
		<key>longitude</key>
		<string>-2.588488</string>
		<key>manager</key>
		<string>Geraldine Eld</string>
		<key>managerMail</key>
		<string>Geraldine.Eld@gp-L81032.nhs.uk</string>
		<key>name</key>
		<string>Wedmore Practice</string>
		<key>partner</key>
		<string>Bassi</string>
		<key>phone</key>
		<string>(0117) 953 6667</string>
		<key>postcode</key>
		<string>BS3 5AS</string>
	</dict>
	<dict>
		<key>address</key>
		<string>Beam Street</string>
		<key>address1</key>
		<string>Wellspring Surgery</string>
		<key>address2</key>
		<string>Wellspring Healthy Living Centre</string>
		<key>address4</key>
		<string>Barton Hill,</string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81061</string>
		<key>latitude</key>
		<string>51.45519</string>
		<key>locality</key>
		<string>IC&amp;E</string>
		<key>longitude</key>
		<string>-2.561776</string>
		<key>manager</key>
		<string>Peter Kirmond</string>
		<key>managerMail</key>
		<string>peter.kirmond@nhs.net</string>
		<key>name</key>
		<string>Wellspring Surgery</string>
		<key>partner</key>
		<string>Hoyte</string>
		<key>phone</key>
		<string>(0117) 955 7474</string>
		<key>postcode</key>
		<string>BS5 9QT</string>
	</dict>
	<dict>
		<key>address</key>
		<string>Westbury Hill</string>
		<key>address1</key>
		<string>Westbury-on-Trym Practice</string>
		<key>address2</key>
		<string>Westbury-on-trym Primary Care Centre</string>
		<key>address4</key>
		<string>Westbury-on-Trym</string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81017</string>
		<key>latitude</key>
		<string>51.493033</string>
		<key>locality</key>
		<string>NW&amp;W</string>
		<key>longitude</key>
		<string>-2.617754</string>
		<key>manager</key>
		<string>Ted Edgar</string>
		<key>managerMail</key>
		<string>Jackie.Nightingale@gp-L81017.nhs.uk</string>
		<key>name</key>
		<string>Westbury-on-Trym Practice</string>
		<key>partner</key>
		<string>McCarthy</string>
		<key>phone</key>
		<string>(0117) 962 3406</string>
		<key>postcode</key>
		<string>BS9 3AA</string>
	</dict>
	<dict>
		<key>address</key>
		<string>Armada Road</string>
		<key>address1</key>
		<string>Dr Clark and Ptnrs</string>
		<key>address2</key>
		<string>Whitchurch Health Centre </string>
		<key>address4</key>
		<string>Whitchurch </string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81006</string>
		<key>latitude</key>
		<string>51.413447</string>
		<key>locality</key>
		<string>S</string>
		<key>longitude</key>
		<string>-2.571818</string>
		<key>manager</key>
		<string>Steve Davies</string>
		<key>managerMail</key>
		<string>Steve.Davies@gp-L81006.nhs.uk</string>
		<key>name</key>
		<string>Whitchurch Health Centre (Dr Clark and Ptnrs)</string>
		<key>partner</key>
		<string>Clark</string>
		<key>phone</key>
		<string>(01275) 839 421</string>
		<key>postcode</key>
		<string>BS14 0SU</string>
	</dict>
	<dict>
		<key>address</key>
		<string>Whatley Road</string>
		<key>address1</key>
		<string>Whiteladies Medical Group</string>
		<key>address2</key>
		<string>Null</string>
		<key>address4</key>
		<string>Clifton</string>
		<key>address5</key>
		<string>Bristol </string>
		<key>code</key>
		<string>L81091</string>
		<key>latitude</key>
		<string>51.465097</string>
		<key>locality</key>
		<string>NW&amp;W</string>
		<key>longitude</key>
		<string>-2.612382</string>
		<key>manager</key>
		<string>Andrea Shiner and Raj Bowri</string>
		<key>managerMail</key>
		<string>Raj.Bowri@gp-L81091.nhs.uk</string>
		<key>name</key>
		<string>Whiteladies Medical Group</string>
		<key>partner</key>
		<string>Coulson</string>
		<key>phone</key>
		<string>(0117) 973 1201</string>
		<key>postcode</key>
		<string>BS8 2PU</string>
	</dict>
</array>
</plist>
