<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>address</key>
		<string>Marlborough Street</string>
		<key>city</key>
		<string>Bristol</string>
		<key>latitude</key>
		<string>51.4594</string>
		<key>longitude</key>
		<string>-2.596055</string>
		<key>name</key>
		<string>Bristol Royal Infirmary</string>
		<key>phone</key>
		<string>0117 923 0000</string>
		<key>postcode</key>
		<string>BS2 8HW</string>
	</dict>
	<dict>
		<key>address</key>
		<string>Frenchay Park Road</string>
		<key>city</key>
		<string>Bristol</string>
		<key>latitude</key>
		<string>51.496462</string>
		<key>longitude</key>
		<string>-2.528863</string>
		<key>name</key>
		<string>Frenchay Hospital</string>
		<key>phone</key>
		<string>0117 970 1212</string>
		<key>postcode</key>
		<string>BS16 1LE</string>
	</dict>
</array>
</plist>
